body {
    background-color: #000000;
}

.picture {
    height: 50vh;
    padding: .4rem;
    border: 2px solid #FFFFFF;

    img {
        width: 100%;
        height: calc(50vh - (.8rem + 4px));
        object-fit: cover;
        overflow: hidden;
    }
}

.title {
    font-family: "Times New Roman", serif;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 4rem;
}