$image-height: calc(100vh - 260px);

body {
    background-color: #000000;
    font-family: 'Times New Roman', serif;
}

.picture {
    height: calc(#{$image-height} - 100px);
    padding: 0.4rem;
    border: 2px solid #ffffff;

    @media (min-width: 576px) {
        height: $image-height;
    }

    img {
        width: 100%;
        height: calc(#{$image-height} - (0.8rem + 4px) - 100px);
        object-fit: cover;
        overflow: hidden;

        @media (min-width: 576px) {
            height: calc(#{$image-height} - (0.8rem + 4px));
        }
    }
}

.title {
    margin: 0 auto;
    color: #ffffff;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-right: -0.2rem;

    @media (min-width: 576px) {
        font-size: 3rem;
        letter-spacing: 0.9rem;
        margin-right: -0.9rem;
    }

    @media (min-width: 768px) {
        letter-spacing: 1.5rem;
        margin-right: -1.5rem;
    }

    @media (min-width: 1400px) {
        font-size: 4rem;
        letter-spacing: 2rem;
        margin-right: -2rem;
    }
}

.quote {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;

    @media (min-width: 576px) {
        font-size: 1.25rem;
    }
}

#refresh-icon {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
    opacity: 0.5;
    transition: 0.2s;

    @media (min-width: 576px) {
        bottom: 1.5rem;
        right: 1.5rem;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        opacity: 0.9;
    }

    img {
        height: 2rem;
    }
}
