// variables

// $image-height: 65vh;
$image-height: calc(100vh - 260px);

body {
    background-color: #000000;
    font-family: "Times New Roman", serif;
}

.picture {
    height: calc(#{$image-height} - 100px);
    padding: .4rem;
    border: 2px solid #FFFFFF;

    @media (min-width: 576px) {
        height: $image-height;
    }

    img {
        width: 100%;
        height: calc(#{$image-height} - (.8rem + 4px) - 100px);
        object-fit: cover;
        overflow: hidden;

        @media (min-width: 576px) {
            height: calc(#{$image-height} - (.8rem + 4px));
        }

    }
}

.title {
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-right: -.2rem;

    @media (min-width: 576px) {
        font-size: 3rem;
        letter-spacing: .9rem;
        margin-right: -.9rem;
    }

    @media (min-width: 768px) {
        letter-spacing: 1.5rem;
        margin-right: -1.5rem;
    }

    @media (min-width: 1400px) {
        font-size: 4rem;
        letter-spacing: 2rem;
        margin-right: -2rem;
    }
    
}

.quote {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;

    @media (min-width: 576px) {
        font-size: 1.25rem;
    }
}